@import url("flexslider.css");
@import url("da-slider.css");
/* ---------- Custom Tags ---------- */
.pageheader{
	font-size:20px;
	font-style:italic;
}
.pagecontact{
	font-size:11px;
}

.copyrightsize{
	font-size:11px;
}

#content h7 {
	font-family:"Arial", Helvetica, sans-serif;
	font-size:15px;
	line-height: 24px;
	font-weight:normal;
	text-align:justify;
}

#content h4 {
	font-family:"Arial", Helvetica, sans-serif;
	color:#F00;
	font-size:22px;
	font-style:italic;
	line-height: 40px;
	font-weight:normal;
	padding-top: -30px;
	text-align:left;
}
/* ---------- Default Tags and Classes ---------- */


h1, h2, h3 {  margin-bottom: 5px; }
h1, h2 { line-height: 24px; }
h2 {
	line-height: 22px;
	padding-bottom: 14px;
	margin-bottom: 32px;
}
h3 {
	
	line-height: 22px;
	padding-bottom: 13px;
	margin-bottom: 17px;
	
}
h4 {line-height: 22px; }




p { margin-bottom: 15px; }

blockquote {
	padding-left: 11px;
	overflow: hidden;

}
blockquote div { margin: -3px 0; }

#content ul, #slider-animated ul { margin: 0 0 15px; }
#slider-animated ul{width:400px;}
#slider-animated li, #skills li {
	list-style-type: none;
	padding: 2px 0 2px 24px;
	background: url("../img/check.png") 0 5px no-repeat;
	width:150px;float:left;
}

#content .flexslider ul { margin: 0; }
.flexslider li, #content .flexslider li, #portfolio-filter ul li {
	padding: 0;
	list-style-type: none;
	background: none;
}
#portfolio-filter ul.pull-left { float: left; }

.more, .more-large {
	padding: 4px 14px 6px;
	
	text-align: center;
	
	font-weight: bold;
	
	text-decoration: none;
	text-shadow: #fff 0 1px 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	transition: all 0.15s linear;
}
.more:hover, .more-large:hover, #slider-parallax .more-large, .hero-unit .more-large, #search-form .more:hover {
	
	text-decoration: none;
	

	
}
.more-large { padding: 9px 29px; font-size: 14px !important; }
#slider-parallax .more-large, .hero-unit .more-large { padding: 8px 12px; }

.thumbnail {
	padding: 0;
	border: none;
	box-shadow: none;
	position: relative;
	border-radius: 0;
}
.thumbnail > img, iframe.thumbnail { width: 100%; }
.thumbnail:hover { box-shadow: none !important; }
.thumbnail .overlay {
	position: absolute;
	visibility: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in;  
	-moz-transition: all 0.4s ease-in;  
	-o-transition: all 0.4s ease-in;  
	transition: all 0.4s ease-in;
}
.thumbnail:hover .overlay { opacity: 0.7; visibility: visible; }

.thumbnail .overlay img  {
    position: absolute;
    left: 50%;
    top: 50%;
	margin: -13px 0 0 -13px;
	opacity: 0;
}
.thumbnail:hover .overlay img  {
    -moz-transition: all 0.6s ease-in-out 0s;
    -moz-transform: rotate(180deg);
    -webkit-transition: all 0.6s ease-in-out 0s;
    -webkit-transform: rotate(180deg);
    transition: all 0.6s ease-in-out 0s;
    transform: rotate(180deg);	
    opacity: 1;
}

input, textarea { font-size: 12px !important; }

.pull-right { float: right; }
.pull-left { float: left; }

ul.nav-tabs { margin: 0 !important; border: none; }
.nav-tabs > li > a {
	border-radius: 0;
	margin-right: 9px;
	padding: 6px 14px 5px;
	outline: none;
}
.nav-tabs > li.active > a {
	font-weight: bold;
	-moz-box-shadow: -1px -1px 1px #f1f1f1;
	-webkit-box-shadow: -1px -1px 1px #f1f1f1;
	box-shadow: -1px -1px 1px #f1f1f1;
}


.tab-content {
	padding: 16px 15px 2px;
	-moz-box-shadow: 0 1px 1px #e1e1e1;
	-webkit-box-shadow: 0 1px 1px #e1e1e1;
	box-shadow: 0 1px 1px #e1e1e1;
}




/* ---------- Header ---------- */


#attention .container, #copyright .container { padding: 8px 0 4px; min-height: 20px; }

#attention div { position: relative; }
#attention button {
	width: 12px;
	height: 20px;
	float: right;
	background: url("../img/close.png") 1px 5px no-repeat;
	margin-left: 10px;
	border: none;
	text-indent: -999px;
	overflow: hidden;
}

#header { background: url("../img/header-bg.png"); padding-top: 28px; }

#logo { padding-bottom: 29px; }
#logo ul { padding: 3px 0 1px 0; margin: 0; }
#logo li {
	float: left;
	list-style-type: none;
	padding: 0 0 2px 24px;
	margin-left: 30px;
}
#logo li:first-child { background: url("../img/call.png") 0 0px no-repeat; }
#logo li:last-child { background: url("../img/mail.png") 0 0px no-repeat; }
#logo a { color: #444; }





/* ---------- Navigation ---------- */

#navigation { padding-bottom: 25px; }
#homepage #navigation { padding-bottom: 20px; }
#navigation nav {
	background: #3a3b3b url("../img/nav-bg.png") 0 -1px;
	height: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#navigation nav > ul {
	height: 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	position: relative;
	z-index: 1000;
}
#navigation ul { margin: 0; }
#navigation a {
	font-weight: bold;
	text-shadow: #000 0 1px 1px;
}
#navigation a:hover { text-decoration: none; }
#navigation nav > ul > li {
	list-style-type: none;
	float: left;
	position: relative;
	border-right: #494d4f 1px solid;
	border-bottom-width: 3px;
	border-bottom-color: transparent;
	border-bottom-style: solid;
}
#navigation nav > ul > li > a {
	display: block;
	height: 28px;
	line-height: 25px;
	padding: 0 29px;
}
#navigation nav > ul > li:hover > a {
	
background: url("../img/nav-act.png") 0 center repeat-x; 
	padding-left: 30px;
	margin-left: -1px;
	position: relative;
}
#navigation nav > ul > li:first-child:hover > a {
	padding-left: 29px;
	margin: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-bottom-left-radius: 2px;
}

/* second level */
#navigation li:hover > ul { display: block; }
#navigation ul ul {
	display: none;
	position: absolute;
	top: 18px;
	left: -2px;
	padding: 15px 10px 0 0;
}
#navigation ul ul li {
	list-style-type: none;
	border-top: none;
	position: relative;
}
#navigation ul ul li:first-child {
	
}
#navigation ul ul li:last-child {
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
}
#navigation ul ul a {
	background: #3a3b3b url("../img/nav-dd.png") 0 0 repeat-x;
	height: 28px;
	line-height: 27px;
	padding: 0 17px 0 11px;
	white-space: nowrap;
	min-width: 120px;
	display: block;	
}
#navigation ul ul li:hover > a { background: url("../img/nav-act.png") 0 center repeat-x; }
#navigation ul ul li:last-child a {	padding-bottom: 1px; }

/* third level */
#navigation ul ul ul {
	left: 100%;
	padding: 0 0 0 9px;
	top: -2px;
}

/* mobile menu */
.select-menu {
	display: none;
	width: 100%;
}
#portfolio #content .select-menu { margin-bottom: 25px; }



/* ---------- Sliders ---------- */

#slider-animated { height: 350px; background: url("../img/slider-bg.png") center 0 no-repeat; }
#slider-animated img {
	width: auto;
	position: absolute;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    -ms-transition-duration: 1s;
    transition-duration: 1s;
}

#sequence { position: relative; height: 350px; }
#sequence li > *{
    position: absolute;
}

.flexslider {
	border: none;
	position: relative;
	border-radius: none;
	box-shadow: none;
}

#slider-animated .slides > li { height: 320px; padding: 0; }

.flex-control-paging { margin: -60px 0 0 28px; position: relative; }
.flex-control-paging li {
	background: none !important;
	padding: 0 5px 0 0 !important;
	float: left;
}
.flex-control-paging li a {
	background: url("../img/slider-item-control.png") 0 0 no-repeat;
	display: block;
	text-indent: -999px;
	overflow: hidden;
	width: 15px;
	height: 15px;
	border-radius: none;
	box-shadow: none;
	cursor: pointer;
}
.flex-control-paging li a:hover, .flex-control-paging li a.flex-active { background-position: 0 -15px; }

#slider-animated .flex-direction-nav {
	top: auto;
	bottom: 12px;
	left: 91px;
	width: auto;
}
#slider-animated .flex-direction-nav li {
	float: left;
	padding: 0 5px 0 0 !important;
	background: none !important;
}
#slider-animated .flex-prev, #slider-animated .flex-next {
	width: 21px;
	height: 21px;
	display: block;
	float: left;
	position: relative;
	text-indent: -999px;
	overflow: hidden;
	outline: none;
	cursor: pointer;
	margin: 0;
	top: auto;
	background: url("../img/carousel-control.png") -15px 0 no-repeat;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
#slider-animated .flex-next { background-position: -39px 0; }
#slider-animated .flex-prev:hover { background-position: -15px -21px; }
#slider-animated .flex-next:hover { background-position: -39px -21px; }


#slider-animated #slide-1 { background: url("../img/pictures/slides/animated-bg-1.jpg") 100% center no-repeat; }
#slide-1 .inner {
	width: 348px;
	padding: 37px 0 0 26px;
}
.slider_form { width: 334px; margin: 1px 0; }
.slider_form input { width: 318px !important; margin-bottom: 14px !important; margin-right: 7px;}
.slider_form select { width: 318px !important; margin-bottom: 14px !important; }
.slider_form textarea { width: 318px !important; margin-bottom: 14px !important; }
.slider_form input.half { width: 150px !important; }
.slider_form select.half { width: 150px !important; }
.slider_form input[type="submit"] { width: 100%; }


#slider-animated #slide-2 { background: url("../img/pictures/slides/animated-bg-2.png") 0 0 no-repeat; }
#slide-2 .inner {
	text-align: center;
	padding-top: 221px;
	font-size: 12px;
}
#slide-2 .more { margin: 0 auto; display: block; float: none; width: 303px; }
#slide-2 h1 {
	font-size: 38px;
	line-height: 48px;
	font-weight: normal;
	color: #666;
}
#slide-2 .image1 { top: 57px; left: 330px; }
#slide-2 .image2 { top: 57px; right: 330px; }

#slider-animated #slide-3 { background: url("../img/pictures/slides/animated-bg-3.png") 0 0 no-repeat; }
#slide-3 .inner {
	width: 425px;
	font-size: 12px;
	padding: 75px 0 0 83px;
}
#slide-3 form { width: 334px; margin: 1px 0; }
#slide-3 input { width: 324px; margin-bottom: 14px; }
#slide-3 input.half { width: 150px; }
#slide-3 input[type="submit"] { width: 100%; }
#slide-3 h1 {
	font-size: 38px;
	line-height: 38px;
	font-weight: normal;
	margin-bottom: 15px;
	color: #666;
}
#slide-3 ul { padding: 4px 0 7px; overflow: hidden; }
#slide-3 li {
	width: 174px;
	float: left;
	font-size: 11px;
	padding-bottom: 2px;
}
#slide-3 .more-large { display: block; float: none; max-width: 270px; }
#slide-3 .image1 { top: 57px; right: 109px; }
#slide-3 .image2 { top: 173px; right: 318px; }

#slider-image { padding-bottom: 35px; }
.flex-direction-nav, .da-arrows {
	display: block;
	position: absolute;
	top: 50%;
	width: 100%;
}
.flex-direction-nav a, .da-arrows span {
	position: absolute;
	display: block;
	width: 35px;
	height: 59px;
	margin-top: -30px;
	background: url("../img/direct-control.png") 0 0 no-repeat;
	text-indent: -999px;
	overflow: hidden;
	opacity: 1 !important;
	z-index: 9999;
	cursor: pointer;
}
.flex-direction-nav .flex-prev, .da-arrows-prev { left: 0; }
.flex-direction-nav .flex-next, .da-arrows .da-arrows-next { right: 0; background-position: -35px 0; }
.flex-direction-nav .flex-prev:hover, .da-arrows .da-arrows-prev:hover { background-position: 0 -59px; }
.flex-direction-nav .flex-next:hover, .da-arrows .da-arrows-next:hover { background-position: -35px -59px; }

.flex-caption {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	margin: 0;
}
.flex-caption span { display: block; padding: 7px 28px 9px; }

#slider-parallax { font-size: 13px; color: #e8e6e6; background: url("../img/slider-shadow.png") center 0 no-repeat; }
#slider-parallax h1 {
	line-height: 31px;
	font-weight: bold;
}

.carousel { overflow: hidden; margin-left: -28px; overflow: visible !important;}



/* ---------- Page Title & Social Profiles ---------- */

.brake-line {
	background:url("../img/brake-line-bg.jpg") 0 0 repeat-x;
}

#page-head > .inner { padding-top: 15px; padding-bottom: 17px; }
#homepage #page-head > .inner { padding-bottom: 17px; }
#page-head h1 {
	line-height: 22px;
	padding: 2px 0;
	margin: 0;
}
#page-head hgroup { padding-left: 2px; }
#page-head .more-large { margin: 3px 2px 3px 0; }


#social-profiles > .inner { padding-top: 2px; }
#social-profiles .pull-left { padding-top: 15px; }
#social-profiles ul {
	margin: 0;
}
#social-profiles li {
	list-style-type: none;
	float: left;
}
#social-profiles a {
	float: left;
	line-height: 50px;
	height: 53px;
	padding: 0 22px 0 22px;
	color: #999;
}
#social-profiles a span {
	width: 25px;
	height: 25px;
	float: left;
	background: url("../img/social-profiles.png");
	margin: 12px 6px 0 6px;
}
#social-profiles a:hover { text-decoration: none; color: #00afff; }

#i-facebook a span { background-position: 0 0; }
#i-facebook a:hover span { background-position: -25px 0; }
#i-dribbble a span { background-position: 0 -25px; }
#i-dribbble a:hover span { background-position: -25px -25px; }
#i-google a span { background-position: 0 -50px; }
#i-google a:hover span { background-position: -25px -50px; }
#i-linkedin a span { background-position: 0 -75px; }
#i-linkedin a:hover span { background-position: -25px -75px; }
#i-twitter a span { background-position: 0 -100px; }
#i-twitter a:hover span { background-position: -25px -100px; }



/* ---------- Content ---------- */

#content { padding: 41px 0 39px; background: url("../img/header-shadow.png") center 0 no-repeat; }
#homepage #content { background: none; }
#default #content { padding-top: 40px; }
#contact #content, #blog #content { padding-top: 54px; }

#homepage-widget-area-1 { overflow: hidden; }
#homepage-widget-area-2 { padding-bottom: 5px; overflow: hidden; }
#homepage-widget-area-1 > * { margin-bottom: 55px; }

.personal-contact {
	font-style: italic;
	margin-top: 20px;
	clear: both;
}
.staff2 .personal-contact { margin-top: 5px; }
.staff3 .personal-contact { margin-top: -6px; }

.personal-contact ul { margin: 0 !important; overflow: hidden; }
.personal-contact li {
	list-style-type: none;
	float: left;
	line-height: 26px;
	padding: 0 0 0 10px;
}
.personal-contact li:first-child { padding-left: 0; }
.personal-contact .s-gp, .personal-contact .s-ln, .personal-contact .s-fb {
	float: right;
	padding: 0 0 0 9px;
}
.personal-contact .s-gp a, .personal-contact .s-ln a, .personal-contact .s-fb a {
	background: url("../img/personal-social.png") -1px 0 no-repeat;
	display: block;
	width: 18px;
	height: 27px;
	text-indent: -999px;
}
.personal-contact .s-gp a { background-position: 100%  0; }
.personal-contact .s-ln a { background-position: -28px  0; }

.shadow { margin: 0 auto; width: 100%; display: block; }

.staff1, .staff2, .staff3, .staff4 {
	line-height: 20px;
	float: left;
	width: 100%;
}
.staff2 article, .staff3 article, .staff4 article { padding-bottom: 35px; }
.staff1 article { padding-bottom: 28px; }
.staff2 article { padding-bottom: 45px; }
.staff2 article, .staff3 article { padding-top: 6px; }
.staff1 p, .staff2 p, .staff3 p, .staff4 p { margin-bottom: 20px; }

.staff-info { padding-top: 10px;
text-align:justify;}
.staff2 .staff-info { padding-top: 1px; }
.staff3 .staff-info { padding-top: 8px; }
.staff4 .staff-info { padding-top: 16px; }
.staff-name {
	border: none;
	padding: 0;
	margin: 0;
	text-align:center;
}
.staff-position { color: #999; margin: -2px 0 9px;
text-align:center;}
.staff4 .staff-position { margin-bottom: 10px; }

.progressbar { margin: -8px 0 32px;	 }
.staff-info .progressbar:first-child { margin-top: -8px; }
.progressbar .pull-left, .progressbar .pull-right { padding-bottom: 4px; }
.bar-container {
	clear: both;
	padding: 3px 4px;
	-moz-box-shadow: 1px 0 1px #d3d3d3;
	-webkit-box-shadow: 1px 0 1px #d3d3d3;
	box-shadow: 0 2px 2px -1px #d9d9d9;
}
.bar-container span {
	display: block;
	height: 13px;
	background: url("../img/progress-bar.png");
}
.opacity-4 { opacity: 1; }
.opacity-3 { opacity: 0.75; }
.opacity-2 { opacity: 0.5; }
.opacity-1 { opacity: 0.25; }

#not-found #content img { display: block; margin: 54px auto 33px; }
#not-found #content {
	text-align: center;
	line-height: 35px;
	padding-bottom: 75px;
}


#map { margin-bottom: 21px; }

.pricing-table { background: #3A3B3B ; margin-bottom: 18px; }
.pricing-table h2 {
	color: #fff;
	font-size: 18px;
	text-shadow: 0 1px 0 black;
	text-align: center;
	padding: 12px 10px 13px;
	margin: 0;
	
}
.price {
	padding: 19px 0 20px 20px;
	text-align: center;
	font-family: Georgia, "Times New Roman", Times, serif;
	border-top: none;
	color: #fff;
	font-style: italic;
	font-weight: bold;
	text-shadow: 1px 0 0 #025ad4;
}
.price small { top: -14px; position: relative; font-size: 22px; right: -5px; }
.price strong { font-size: 56px; letter-spacing: -3px; }
.price span {
	font-size: 17px;
	position: relative;
	top: -21px;
	padding-left: 6px;
}
.price em {
	position: relative;
	left: -24px;
	top: -7px;
	font-size: 11px;
}
.pricing-table li {
	list-style-type: none;
	min-height: 18px;
	padding: 11px 10px;
	text-align: center;
	font-size: 14px;
	color: #333;
	background: #f6f6f6;
}
.pricing-table li.even { background: #e7e7e7; }
.sign-up { text-align: center; padding: 11px 0 29px; }
.sign-up .button {
	-moz-box-shadow: 0 0 0 1px #ffa767 inset;
	-webkit-box-shadow: 0 0 0 1px #ffa767 inset;
	box-shadow: 0 0 0 1px #ffa767 inset;
}
/* ---------- Blog ---------- */

.post { margin-bottom: 28px; }
.entry { margin-bottom: 55px; }
.entry .visual iframe{width:100%;}
.entry  audio{width:100%;}


.title { padding-bottom: 12px; }

.visual { margin-bottom: 31px; }

#blog .meta {
	position: relative;
	top: -2px;
	margin-bottom: 14px;
	height: 1px;
	font-size:14px;
	font-weight:bold;
	color:#000;
	
}
#blog .meta a { color: #999; }
.read-more a:hover { text-decoration: underline !important; }
#blog .meta ul { position: absolute; bottom: 20px; margin: 0; }
#blog .meta li {
	float: left;
	list-style-type: none;
	padding: 0 14px 0 0;
}

.body { padding-bottom: 29px; font-size:12px; color:#666;}
.entry .body  { padding-bottom: 3px; }
.body li { list-style-position: inside; }

.read-more { padding: 10px 0 7px;
font-size:12px;}
.read-more a { text-decoration: none !important; }

.type-gallery-img, .type-image-img, .type-quote-img, .type-post-img, .type-audio-img, .type-video-img, .type-link-img, .type-standart-img { height: 38px; margin-top: -39px; }
.type-gallery-img a, .type-image-img a, .type-quote-img a, .type-post-img a, .type-audio-img a, .type-video-img a, .type-link-img a, .type-standart-img a {
	display: block;
	width: 39px;
	height: 38px;
	text-indent: -999px;
	overflow: hidden;
	background: #e1e1e1 url("../img/post-formats.png") 0 0 no-repeat;
}


.type-image-img a { background-position: 0 -76px; }
.type-quote-img a { background-position: 0 -38px; }
.type-video-img a { background-position: 0 -190px; }
.type-audio-img a { background-position: 0 -114px; }
.type-link-img a { background-position: 0 -152px; }
.type-standart-img a { background-position: 0 -221px; }

.player { margin: 5px 0 8px; }

.entry .link { margin: 22px 0 5px; }


.author-photo { text-align: right; }

.entry blockquote  { margin: 4px 0 30px;  }
.entry blockquote p {line-height: 24.5px !important}

#comments { margin-bottom: 39px; }
#comments dl {  padding-top: 28px; margin-bottom: 18px; }
#comments dl:first-child { border: none; padding-top: 0; }
#comments dt { overflow: hidden; }
#comments dt:first-child { margin-top: 0 !important; }
#comments dt ul { float: left; padding: 15px 0 10px; }
#comments dt img { float: left; display: block; }
#comments dt li {
	float: left;
	background: url("../img/comments-separator.png") 0 4px no-repeat;
	list-style-type: none;
	padding: 0 0 0 14px;
	margin-right: 12px;
	font-size: 13px;
	color: #999;
	font-weight: normal;
}
#comments dt li:first-child { background: none; }

#comments dd { margin: 13px 0 0; }
#comments .author a {  font-weight: bold; }
#comments .admin a { }

#comment-form  { margin-bottom: 30px; }

#comments h3, #comment-form h3 {
	padding-bottom: 10px;
	margin-bottom: 18px;
}
#comment-form { margin-bottom: 50px; }



/* ---------- Portfolio ---------- */

#portfolio .sidebar { margin-top: -6px; }

#portfolio-preview-items { clear: both; }

#portfolio-preview-items dl { overflow: hidden; }
#portfolio-preview-items dl img { display: block; }

#portfolio-preview-items dl { margin-top: 0; }

.one-cols dl { margin-bottom: 30px; }
.one-cols dd { padding-bottom: 25px; }

.two-cols dl { margin-top: 0; margin-bottom: 50px; }
.two-cols dd { padding-bottom: 8px; }

.three-cols dl { margin-bottom: 25px; }
.four-cols dl { margin-bottom: 20px; }
.four-cols .row:first-child dl, .three-cols .row:first-child dl { margin-top: -6px !important; }
.four-cols dd { margin-left: 0; }

#portfolio-filter {
	margin-bottom: 34px;
	overflow: hidden;
}
#portfolio-filter ul { float: right; margin: 0; padding: 6px 0 14px; }
#portfolio-filter ul li {
	float: left;
	
	text-transform: uppercase;
	padding-left: 16px;
	margin-left: 10px;
	background: url("../img/slash.png") 0 6px no-repeat;
}
#portfolio-filter ul li:first-child { background: none; margin: 0; padding: 0; }
#portfolio-filter a { text-decoration: none; }
#portfolio-filter a:hover, #portfolio-filter a.active {  text-decoration: underline; }

#portfolio-preview-items .item-title {
	background: url("../img/title-separator.png") 0 100% no-repeat;
	border: none;
	padding-bottom: 9px;
	margin-bottom: 8px;
}
.four-cols .item-title { padding-bottom: 8px !important; margin-top: -2px; }
#portfolio-preview-items .item-description { overflow: hidden; }
.one-cols .item-description { margin-bottom: 12px; }
.two-cols .item-description { margin-bottom: 5px; }

#portfolio-title {
	margin-bottom: 28px;
	margin-top: -5px;
}
#portfolio-title h1 {
	font-weight: normal;
	color: #444;
	margin: 0;
	padding: 8px 0 10px;
}

#portfolio-view { padding-bottom: 29px; }
#portfolio-details { padding-bottom: 55px; }

#about-work { padding: 9px 0 5px; }
#about-work h3, #skills h3 {
	margin-bottom: 13px;
	padding-bottom: 8px;
	
}
#about-work p { margin-bottom: 18px; }

#skills { padding-bottom: 10px; }
#skills h3 { margin-bottom: 16px; }

.pager {
	width: 36px;
	height: 42px;
	margin: 0 !important;
	background: url("../img/pager.png") 0 1px no-repeat;
}
.pager li { float: left; list-style-type: none; }
.pager li a {
	display: block;
	height: 42px;
	width: 18px;
	text-indent: -999px;
	overflow: hidden;
}



/* ---------- Widgets ---------- */

.widget { margin-bottom: 10px; }

#footer .widget { margin-bottom: 27px; }
#footer .widget-title {
	font-weight: bold;
	padding: 0;
	line-height: 40px;
	margin: 13px 0 12px;
}

#widgetarea-contact .widget-title {
	border: none;
	background: url("../img/widget-title.png") 0 100% no-repeat;
	padding-bottom: 9px;
}

aside.sidebar .widget-title {
	font-weight: bold;
	padding-bottom: 8px;
	margin-bottom: 13px;
}
aside.sidebar .widget_archive .widget-title { margin-bottom: 0; }
aside.sidebar .widget_twitter .widget-title { margin-bottom: 21px; }

aside.sidebar .widget { margin-bottom: 30px; }
aside.sidebar .widget_text { margin-bottom: 35px; }
aside.sidebar .widget_recent_content { margin-bottom: 31px; }
aside.sidebar .widget_archive { margin-bottom: 41px; }

.widget_teaser img, .sc-services img { display: block; margin: 0 auto 19px; }

.text-center { text-align: center; }

.widget_contact { line-height: 14px; }
#widgetarea-contact .widget_contact { margin-bottom: 37px; }
#widgetarea-contact .widget_contact .widget-title { margin-bottom: 17px; }
.widget_contact p { margin-bottom: 10px; }

.tweet_list { margin: 0 !important; }
.tweet_list li {
	list-style-type: none !important;
	background: url("../img/title-separator.png") 0 0 no-repeat !important;
	padding: 12px 0 11px !important;
}
#footer .tweet_list li { background-image: url("../img/tweet-separator.png") !important; }
.tweet_list li:first-child, #footer .tweet_list li:first-child { padding-top: 0 !important; background: none !important; }

.widget_recent_posts dl { overflow: hidden; margin: 0 0 9px; }
.widget_recent_posts dt { float: left; }
.widget_recent_posts dt img { margin-top: 6px; display: block; }
.widget_recent_posts dd { margin-left: 66px; padding-top: 2px; }
.widget_recent_posts dd a { display: block; }

.widget_recent_content { overflow: hidden; margin-bottom: 20px; }
aside .widget_recent_content { overflow: visible; }
.widget_recent_content .item-title {
	background: url("../img/title-separator.png") 0 100% no-repeat;
	padding-bottom: 9px;
	margin-bottom: 8px;
}
.widget_recent_content ul { margin: 0; }
.widget_recent_content li {	list-style-type: none; padding: 0 !important; }
.widget_recent_content dl { margin-top: 0; margin-bottom: 26px; overflow: hidden; }
.widget_recent_content dl:last-child { margin-bottom: 0; }
.widget_recent_content dt { float: left; width: 54px; }
.widget_recent_content dd { padding-left: 69px; margin: 0; }
.widget_recent_content dl .item-title {
	background: none;
	padding: 0;
	position: relative;
	top: -3px;
	margin-bottom: -1px;
}
.sidebar .widget_recent_content dl { margin-bottom: 16px; margin-top: 0; overflow: hidden; }
.sidebar .widget_recent_content dt { padding-top: 3px; }
.sidebar .widget_recent_content dd { padding-left: 59px; }
.sidebar .widget_recent_content dd a { text-decoration: none; display: block; }

.blog_posts .item-title {
	margin: 0px 0 2px;
	background: none;
	padding-bottom: 0;
}
.blog_posts footer ul {
	overflow: hidden;
	padding-bottom: 6px;
	margin-bottom: 8px !important;
}
.blog_posts footer li {
	float: left;
	background: url("../img/slash-small.png") 0 5px no-repeat;
	padding-left: 10px !important;
	margin-left: 5px;
	
}
.blog_posts footer li:first-child { margin: 0; padding: 0 !important; background: none; }


.not-widget { margin-bottom: 15px !important; }
.not-widget dl { margin-bottom: 32px !important; }

.widget_teaser .widget-title, .sc-services .widget-title {
	font-weight: bold;
	border: none !important;
	padding-bottom: 6px;
	margin-bottom: 0 !important;
}

.widget_archive li {
	list-style-type: none;
	padding: 8px 0 7px;
}
.widget_archive a {  text-decoration: none !important; }

#homepage-widget-area-2 .widget-title, #homepage-widget-area-3 .widget-title, #homepage-widget-area-4 .widget-title, #portfolio-single-widget-area .widget-title {
	margin-bottom: 26px;
	padding-bottom: 9px;
}
#portfolio-single-widget-area .widget-title { padding-bottom: 9px; }

.widget_clients .carousel {
	margin: 0;
	
	border-left: none !important;
}
.widget_clients li {
	width: 231px;
	list-style-type: none;
	float: left;
	padding: 0 !important;
	background: none !important;
}
.widget_clients li:first-child { margin: 0; }
.widget_clients li a {
	display: block;
	height: 106px;
	position: relative;
	overflow: hidden;
}
.widget_clients li a img {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    -ms-transition-duration: 0.6s;
    transition-duration: 0.6s;
}
.widget_clients li a img:first-child { opacity: 1; }
.widget_clients li a:hover img { opacity: 1; }
.widget_clients li a:hover img:first-child { opacity: 0; }

.widget_flickr .flickr_badge_image {
	float: left;
	width: 57px;
	background: url("../img/flickr-shadow.png") 0 100% no-repeat;
	padding: 5px 4px 12px;
	margin: 0 17px 0 -4px
}
.widget_flickr > div { width: 120%; }
.widget_flickr img {
	width: 57px;
	height: 55px;
}

.widget_subscribers { overflow: hidden; margin-bottom: 17px !important; }
.widget_subscribers a {
	display: block;
	float: left;
	padding: 1px 15px 0 40px;
	margin-bottom: 10px;
	min-height: 31px;
	line-height: 14px;
	color: #666;
	text-decoration: none !important;
}
.widget_subscribers a:last-child { padding-right: 0; }
.widget_subscribers strong { display: block; }
a.s_twitter { background: url("../img/social-icons/i_twitter.png") 0 0 no-repeat; }
a.s_rss { background: url("../img/social-icons/i_rss.png") 0 0 no-repeat; }

.carousel { margin-bottom: 0; }
.carousel-arrows {
	width: 60px;
	height: 21px;
	background: #fff;
	float: right;
	margin-top: -37px;
}
.carousel-arrows span {
	width: 21px;
	height: 21px;
	display: block;
	text-indent: -999px;
	overflow: hidden;
	float: right;
	margin-left: 5px;
	outline: none;
	cursor: pointer;
	background: url("../img/carousel-control.png") -15px 0 no-repeat;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.carousel-arrows span.next { background-position: -40px 0; }
.carousel-arrows span:hover { background-position: -15px -21px; }
.carousel-arrows span.next:hover { background-position: -40px -21px; }

.testimonials blockquote {
	margin: 0;
	
	border: none;
	
	font-style: italic;
	padding: 12px 14px 18px;
	
	line-height: 20px;
	
}
.quote-author {
	min-height: 32px;
	background: url("../img/quote.png") 100% 0 no-repeat;
	text-align: right;
	padding-right: 80px;
	overflow: hidden;
}
.quote-author span {
	display: block;
	float: right;
	margin-top: 9px;
	padding: 6px 0 0 32px;
	background: url("../img/author.png") 0 center no-repeat;
}

/*.s_services { margin-bottom: 54px; }*/


/* ---------- Forms ---------- */

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input { color: #969696; padding: 4px 4px 4px; }

#search-form { margin: -20px 0 0; padding-bottom: 10px; padding-right:18px;}
#search-form input[type="text"] { padding: 5px 10px; border-right: none; width: 107px; }
#search-form .more {
	padding: 4px 12px 6px;
	color: #666;
	text-shadow: #fff 0 1px 0;
	box-shadow: 0 -1px 1px 0 #b6b6b6 inset;
	border: #c3c3c3 1px solid;
	
	-webkit-border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-bottomleft: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;   
	
  	background: #f6f6f6;
	background: -moz-linear-gradient(top,  #fbfbfb 0%, #e4e4e4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#e4e4e4));
	background: -webkit-linear-gradient(top,  #fbfbfb 0%,#e4e4e4 100%);
	background: -o-linear-gradient(top,  #fbfbfb 0%,#e4e4e4 100%);
	background: -ms-linear-gradient(top,  #fbfbfb 0%,#e4e4e4 100%);
	background: linear-gradient(to bottom,  #fbfbfb 0%,#e4e4e4 100%);
	
}

.standard-form { padding-top: 4px; }
.standard-form input[type="text"], .standard-form textarea { padding: 9px 13px 11px; margin-bottom: 26px; }
.standard-form textarea { height: 156px; width: 424px; }
.standard-form .more-large { padding: 7px 17px; }



/* ---------- Footer ---------- */


#footer .inner { background: url("../img/footer-shadow.png") center 0 no-repeat; }

#copyright { text-align: right; border: none; }
#copyright .container { padding: 8px 0; }
#copyright > div > div > div:first-child { text-align: left; }
#copyright span { padding: 0 6px; }



/* ---------- Shortcodes ---------- */

.accordion-group { border: none; border-radius: 0; }
.accordion-heading .accordion-toggle {
	display: block;
	padding: 16px 50px 16px 23px;
	background: #fcfbfb url("../img/accordion-close.png") 100% center no-repeat;
	border: #d5d5d5 1px solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	-moz-box-shadow: 0 0 0 1px #fff inset, 0 1px 1px 0 #d9d9d9;
	-webkit-box-shadow: 0 0 0 1px #fff inset, 0 1px 1px 0 #d9d9d9;
	box-shadow: 0 0 0 1px #fff inset, 0 1px 1px 0 #d9d9d9;
	outline: none;
}
.accordion-toggle:hover { text-decoration: none; }
.accordion-group { margin-bottom: 19px; }
.accordion-heading .collapsed { font-weight: bold; background-image: url("../img/accordion-open.png"); }
.accordion-inner { padding: 19px 0 2px 20px; border: none; }

.sc-col { padding-bottom: 26px;
text-align:justify;}
.sc-services { text-align: center; padding-top: 5px; padding-bottom: 35px; }
.sc-services.span3 { padding-top: 14px; padding-bottom: 25px; }
.sc-info { margin-bottom: 24px; }
.sc-info h2 {
	margin: 4px 0 8px;
	padding-bottom: 9px;
	border: none;
	background: url("../img/title-separator.png") 0 100% no-repeat;
}

.alert {
	padding: 15px 35px 15px 18px;
	border-color: #dfd686;
	background: #fcfce2;
}
.alert-error { border-color: #fdc4c4; background: #ffeded; }
.alert-success { border-color: #b2dd7d; background: #eef8e3; }
.alert-info { border-color: #b5d7e9; background: #eef9ff; }
.alert .close { top: 0; }


.hero-unit {
	background: #fbfbfb;
	border: #d5d5d5 1px solid;
	padding: 28px 34px 6px;
	-moz-box-shadow: 0 1px 1px 0 #d9d9d9;
	-webkit-box-shadow: 0 1px 1px 0 #d9d9d9;
	box-shadow: 0 1px 1px 0 #d9d9d9;
}
.hero-unit, .hero-unit p {  color: #bbb; line-height: 18px; }
.hero-unit p { margin-bottom: 30px; }
.hero-unit h1 {
	font-size: 20px;
	color: #444;
	letter-spacing: 0;
	margin-bottom: 15px;
}


.button {
	font-size: 14px;
	font-weight: bold;
	background: #e9e9e9;
	position: relative;
	outline: none !important;
	display: block;
	float: left;
	margin: 10px;
	color: #555;
	padding: 7px 14px;
	background: -moz-linear-gradient(top, #eeeeee 0%, #e1e1e1);
	background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#e1e1e1));
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #d0d0d0;
	-moz-box-shadow:
		0 4px 0 0 #b2b1b1,
		0 5px 0 0 #a5a5a5,
		0 6px 2px 1px #ccc,
		inset 0 1px 1px 0 #fcfcfc,
		inset 0 0 0 1px #f0f0f0;
	-webkit-box-shadow:
		0 4px 0 0 #b2b1b1,
		0 5px 0 0 #a5a5a5,
		0 6px 2px 1px #ccc,
		inset 0 1px 1px 0 #fcfcfc,
		inset 0 0 0 1px #f0f0f0;
	box-shadow:
		0 4px 0 0 #b2b1b1,
		0 5px 0 0 #a5a5a5,
		0 6px 2px 1px #ccc,
		inset 0 1px 1px 0 #fcfcfc,
		inset 0 0 0 1px #f0f0f0;
	text-shadow: 0px 1px 0px rgba(245,245,245,1);
}
.button:hover {
	color: #555;
	text-decoration: none;
	background: -moz-linear-gradient(top, #e1e1e1 0%, #eeeeee);
	background: -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#eeeeee));	
}
.button:active {
	-moz-box-shadow: inset 0 1px 2px 0 #aaa;
	-webkit-box-shadow: inset 0 1px 2px 0 #aaa;
	box-shadow: inset 0 1px 2px 0 #aaa;
	margin: 13px 10px 7px;
}

.button.red {
	color: #913944;
	background: #f78298;
	background: -moz-linear-gradient(top, #f997b0 0%, #f46576);
	background: -webkit-gradient(linear, left top, left bottom, from(#f997b0), to(#f46576));
	border: 1px solid #ee8090;
	-moz-box-shadow:
		0 4px 0 0 #cb5462,
		0 5px 0 0 #b84d5a,
		0 6px 2px 1px #ccc,
		inset 0 1px 0 0 #f9c9d0;
	-webkit-box-shadow:
		0 4px 0 0 #cb5462,
		0 5px 0 0 #b84d5a,
		0 6px 2px 1px #ccc,
		inset 0 1px 0 0 #f9c9d0;
	box-shadow:
		0 4px 0 0 #cb5462,
		0 5px 0 0 #b84d5a,
		0 6px 2px 1px #ccc,
		inset 0 1px 0 0 #f9c9d0;
	text-shadow: 0px 1px 0px rgba(248,145,160,1);
}
.button.red:hover {
	background: -moz-linear-gradient(top, #f46576 0%, #f997b0);
	background: -webkit-gradient(linear, left top, left bottom, from(#f46576), to(#f997b0));
}
.button.red:active {
	background: -moz-linear-gradient(top, #f26b7d 0%, #f56c7e);
	background: -webkit-gradient(linear, left top, left bottom, from(#f26b7d), to(#f56c7e));
	-moz-box-shadow: inset 0 1px 2px 0 #b44f5d;
	-webkit-box-shadow: inset 0 1px 2px 0 #b44f5d;
	box-shadow: inset 0 1px 2px 0 #b44f5d;
}

.button.blue {
	color: #42788e;
	background: #8fdaf6;
	background: -moz-linear-gradient(top, #80d4f5 0%, #92dbf6);
	background: -webkit-gradient(linear, left top, left bottom, from(#80d4f5), to(#92dbf6));
	border: 1px solid #79acbe;
	-moz-box-shadow:
		0 4px 0 0 #589cb6,
		0 5px 0 0 #4e8aa1,
		0 6px 2px 1px #ccc,
		inset 0 1px 0 0 #b3e6f8;
	-webkit-box-shadow:
		0 4px 0 0 #589cb6,
		0 5px 0 0 #4e8aa1,
		0 6px 2px 1px #ccc,
		inset 0 1px 0 0 #b3e6f8;
	box-shadow:
		0 4px 0 0 #589cb6,
		0 5px 0 0 #4e8aa1,
		0 6px 2px 1px #ccc,
		inset 0 0 0 1px #b3e6f8;
	text-shadow: 0px 1px 0px rgba(179,230,249,1);
}
.button.blue:hover {
	background: -moz-linear-gradient(top, #92dbf6 0%, #80d4f5);
	background: -webkit-gradient(linear, left top, left bottom, from(#92dbf6), to(#80d4f5));
}
.button.blue:active {
	background: -moz-linear-gradient(top, #8ad3f0 0%, #89d2ee);
	background: -webkit-gradient(linear, left top, left bottom, from(#8ad3f0), to(#89d2ee));
	-moz-box-shadow: inset 0 1px 2px 0 #679eb3;
	-webkit-box-shadow: inset 0 1px 2px 0 #679eb3;
	box-shadow: inset 0 1px 2px 0 #679eb3;
}

.button.green {
	color: #5f7933;
	background: #b7d871;
	background: -moz-linear-gradient(top, #cae285 0%, #a2cc59);
	background: -webkit-gradient(linear, left top, left bottom, from(#cae285), to(#a2cc59));
	border: 1px solid #aad063;
	-moz-box-shadow:
		0 4px 0 0 #799545,
		0 5px 0 0 #6d883b,
		0 6px 2px 1px #ccc,
		inset 0 1px 0 0 #e7f2c5;
	-webkit-box-shadow:
		0 4px 0 0 #799545,
		0 5px 0 0 #6d883b,
		0 6px 2px 1px #ccc,
		inset 0 1px 0 0 #e7f2c5;
	box-shadow:
		0 4px 0 0 #799545,
		0 5px 0 0 #6d883b,
		0 6px 2px 1px #ccc,
		inset 0 1px 0 0 #e7f2c5;
	text-shadow: 0px 1px 0px rgba(196,223,144,1);
}
.button.green:hover {
	background: -moz-linear-gradient(top, #a2cc59 0%, #cae285);
	background: -webkit-gradient(linear, left top, left bottom, from(#a2cc59), to(#cae285));
}
.button.green:active {
	background: -moz-linear-gradient(top, #a5cd5e 0%, #a7cf5f);
	background: -webkit-gradient(linear, left top, left bottom, from(#a5cd5e), to(#a7cf5f));
	-moz-box-shadow: inset 0 1px 2px 0 #7b9845;
	-webkit-box-shadow: inset 0 1px 2px 0 #7b9845;
	box-shadow: inset 0 1px 2px 0 #7b9845;
}

.button.aqua {
	color: #437b7d;
	background: #9fedf0;
	background: -moz-linear-gradient(top, #b7f2f4 0%, #80e8eb);
	background: -webkit-gradient(linear, left top, left bottom, from(#b7f2f4), to(#80e8eb));
	border: 1px solid #87d3d5;
	-moz-box-shadow:
		0 4px 0 0 #4fa7aa,
		0 5px 0 0 #47989b,
		0 6px 2px 1px #ccc,
		inset 0 1px 0 0 #d4f8f8;
	-webkit-box-shadow:
		0 4px 0 0 #4fa7aa,
		0 5px 0 0 #47989b,
		0 6px 2px 1px #ccc,
		inset 0 1px 0 0 #d4f8f8;
	box-shadow:
		0 4px 0 0 #4fa7aa,
		0 5px 0 0 #47989b,
		0 6px 2px 1px #ccc,
		inset 0 1px 0 0 #d4f8f8,
		inset 0 -1px 0 0 #a1edf0;
	text-shadow: 0px 1px 0px rgba(175,240,243,1);
}
.button.aqua:hover {
	background: -moz-linear-gradient(top, #80e8eb 0%, #b7f2f4);
	background: -webkit-gradient(linear, left top, left bottom, from(#80e8eb), to(#b7f2f4));
}
.button.aqua:active {
	background: -moz-linear-gradient(top, #85e6e9 0%, #87e9ec);
	background: -webkit-gradient(linear, left top, left bottom, from(#85e6e9), to(#87e9ec));
	-moz-box-shadow: inset 0 1px 2px 0 #63abae;
	-webkit-box-shadow: inset 0 1px 2px 0 #63abae;
	box-shadow: inset 0 1px 2px 0 #63abae;
}

.button.black {
	color: #fcfcfc;
	background: #565656;
	background: -moz-linear-gradient(top, #656565 0%, #444444);
	background: -webkit-gradient(linear, left top, left bottom, from(#656565), to(#444444));
	border: 1px solid #535353;
	-moz-box-shadow:
		0 4px 0 0 #414141,
		0 5px 0 0 #343434,
		0 6px 2px 1px #ccc,
		inset 0 1px 0 0 #939393;
	-webkit-box-shadow:
		0 4px 0 0 #414141,
		0 5px 0 0 #343434,
		0 6px 2px 1px #ccc,
		inset 0 1px 0 0 #939393;
	box-shadow:
		0 4px 0 0 #414141,
		0 5px 0 0 #343434,
		0 6px 2px 1px #ccc,
		inset 0 1px 0 0 #939393;
	text-shadow: 0px 1px 0px rgba(57,57,57,1);
}
.button.black:hover {
	background: -moz-linear-gradient(top, #444444 0%, #656565);
	background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#656565));
}
.button.black:active {
	background: -moz-linear-gradient(top, #474747 0%, #474747);
	background: -webkit-gradient(linear, left top, left bottom, from(#474747), to(#474747));
	-moz-box-shadow: inset 0 1px 2px 0 #353535;
	-webkit-box-shadow: inset 0 1px 2px 0 #353535;
	box-shadow: inset 0 1px 2px 0 #353535;
}

.button.gray {
	color: #575757;
	background: #c2c2c2;
	background: -moz-linear-gradient(top, #d1d1d1 0%, #aeaeae);
	background: -webkit-gradient(linear, left top, left bottom, from(#d1d1d1), to(#aeaeae));
	border: 1px solid #b4b4b4;
	-moz-box-shadow:
		0 4px 0 0 #878787,
		0 5px 0 0 #7b7b7b,
		0 6px 2px 1px #ccc,
		inset 0 1px 0 0 #e3e3e3;
	-webkit-box-shadow:
		0 4px 0 0 #878787,
		0 5px 0 0 #7b7b7b,
		0 6px 2px 1px #ccc,
		inset 0 1px 0 0 #e3e3e3;
	box-shadow:
		0 4px 0 0 #878787,
		0 5px 0 0 #7b7b7b,
		0 6px 2px 1px #ccc,
		inset 0 1px 0 0 #e3e3e3;
	text-shadow: 0px 1px 0px rgba(203,203,203,1);
}
.button.gray:hover {
	background: -moz-linear-gradient(top, #aeaeae 0%, #d1d1d1);
	background: -webkit-gradient(linear, left top, left bottom, from(#aeaeae), to(#d1d1d1));
}
.button.gray:active {
	background: -moz-linear-gradient(top, #b1b1b1 0%, #afafaf);
	background: -webkit-gradient(linear, left top, left bottom, from(#b1b1b1), to(#afafaf));
	-moz-box-shadow: inset 0 1px 2px 0 #848484;
	-webkit-box-shadow: inset 0 1px 2px 0 #848484;
	box-shadow: inset 0 1px 2px 0 #848484;
}

.button.orange {
	color: #9b6835;
	background: #fecd61;
	background: -moz-linear-gradient(top, #feda71 0%, #febd4c);
	background: -webkit-gradient(linear, left top, left bottom, from(#feda71), to(#febd4c));
	border: 1px solid #eab552;
	-moz-box-shadow:
		0 4px 0 0 #414141,
		0 5px 0 0 #343434,
		0 6px 2px 1px #ccc,
		inset 0 1px 0 0 #939393;
	-webkit-box-shadow:
		0 4px 0 0 #414141,
		0 5px 0 0 #343434,
		0 6px 2px 1px #ccc,
		inset 0 1px 0 0 #939393;
	box-shadow:
		0 4px 0 0 #b98a37,
		0 5px 0 0 #9f7630,
		0 6px 2px 1px #ccc,
		inset 0 1px 0 0 #fee9aa;
	text-shadow: 0px 1px 0px rgba(254,213,132,1);
}
.button.orange:hover {
	background: -moz-linear-gradient(top, #febd4c 0%, #feda71);
	background: -webkit-gradient(linear, left top, left bottom, from(#febd4c), to(#feda71));
}
.button.orange:active {
	background: -moz-linear-gradient(top, #fbbf50 0%, #fec151);
	background: -webkit-gradient(linear, left top, left bottom, from(#fbbf50), to(#fec151));
	-moz-box-shadow: inset 0 1px 2px 0 #bb8e3c;
	-webkit-box-shadow: inset 0 1px 2px 0 #bb8e3c;
	box-shadow: inset 0 1px 2px 0 #bb8e3c;
}

.button.purple {
	color: #7d5979;
	background: #e0b1db;
	background: -moz-linear-gradient(top, #e8c4e4 0%, #d697cf);
	background: -webkit-gradient(linear, left top, left bottom, from(#e8c4e4), to(#d697cf));
	border: 1px solid #db9fd5;
	-moz-box-shadow:
		0 4px 0 0 #414141,
		0 5px 0 0 #343434,
		0 6px 2px 1px #ccc,
		inset 0 1px 0 0 #939393;
	-webkit-box-shadow:
		0 4px 0 0 #414141,
		0 5px 0 0 #343434,
		0 6px 2px 1px #ccc,
		inset 0 1px 0 0 #939393;
	box-shadow:
		0 4px 0 0 #946890,
		0 5px 0 0 #865d82,
		0 6px 2px 1px #ccc,
		inset 0 1px 0 0 #f2dcef;
	text-shadow: 0px 1px 0px rgba(228,189,225,1);
}
.button.purple:hover {
	background: -moz-linear-gradient(top, #d697cf 0%, #e8c4e4);
	background: -webkit-gradient(linear, left top, left bottom, from(#d697cf), to(#e8c4e4));
}
.button.purple:active {
	background: #d89dd2;
	-moz-box-shadow: inset 0 1px 2px 0 #9f749a;
	-webkit-box-shadow: inset 0 1px 2px 0 #9f749a;
	box-shadow: inset 0 1px 2px 0 #9f749a;
}

.button.metallic {
	color: #53616c;
	background: #a6b9c7;
	background: -moz-linear-gradient(top, #becbd6 0%, #8ba4b6);
	background: -webkit-gradient(linear, left top, left bottom, from(#becbd6), to(#8ba4b6));
	border: 1px solid #a1aeb7;
	-moz-box-shadow:
		0 4px 0 0 #414141,
		0 5px 0 0 #343434,
		0 6px 2px 1px #ccc,
		inset 0 1px 0 0 #939393;
	-webkit-box-shadow:
		0 4px 0 0 #414141,
		0 5px 0 0 #343434,
		0 6px 2px 1px #ccc,
		inset 0 1px 0 0 #939393;
	box-shadow:
		0 4px 0 0 #62727e,
		0 5px 0 0 #5d6b75,
		0 6px 2px 1px #ccc,
		inset 0 1px 0 0 #d8e0e6;
	text-shadow: 0px 1px 0px rgba(181,197,209,1);
}
.button.metallic:hover {
	background: -moz-linear-gradient(top, #8ba4b6 0%, #becbd6);
	background: -webkit-gradient(linear, left top, left bottom, from(#8ba4b6), to(#becbd6));
}
.button.metallic:active {
	background: #92a9ba;
	-moz-box-shadow: inset 0 1px 2px 0 #6b7c89;
	-webkit-box-shadow: inset 0 1px 2px 0 #6b7c89;
	box-shadow: inset 0 1px 2px 0 #6b7c89;
}

.social-icons { overflow: hidden; }
.social-icons li { list-style-type: none; float: left; margin: 0 13px 18px 0; }



/* ---------- Responsive ---------- */

@media (max-width: 767px) {
	
	.container, .carousel > .wrapper > ul > li { width: 420px; }
	
	.brake-line .pull-right { float: none; }
	#search-form { margin-top: 18px;}
	#page-head .more-large { margin-top: 18px; float: left; }
	
	#portfolio-preview-items > dl > dt > img, #portfolio-preview-items > dl > dt > a > img { width: 100%; }
	
	.da-slider { height: 210px; }
	.da-slide { width: 420px; margin-left: -210px; }
	.da-arrows { display: none; }
	#slider-parallax .da-slide h1 { font-size: 18px; line-height: 24px; margin: 40px 0; }
	
	.widget_clients li { width: 208px !important; }
	
	#copyright { text-align: left; }
	
}

@media (min-width: 768px) and (max-width: 979px) {
	
	.da-slider { height: 360px; }
	.da-slide { width: 720px; margin-left: -360px; }
	.da-arrows { display: none; }
	#slider-parallax .da-slide h1 { margin-top: 60px; }
	
}

@media (max-width: 767px) {
	
	#header nav, #portfolio-filter { display: none; }
	.select-menu { display: block; margin: 0; }
	
	.carousel { margin-left: 0;}

	.widget_flickr > div { width: auto; }

	body { padding: 0; }
	#header .container, #attention, .brake-line .inner, #footer .inner, #copyright, #content { padding-left: 20px; padding-right: 20px; }
	
	.col-standard, .col-featured { float: none; width: auto !important; }
	
	#blog .meta {
		position: relative;
		overflow: hidden;
		top: 0;
		height: auto;
		padding: 14px 0;
		
	}
	#blog .meta ul { position: static; margin: 0;}	
	.type-gallery-img, .type-image-img, .type-quote-img, .type-post-img, .type-audio-img, .type-video-img, .type-link-img, .type-standart-img { display: none; }
	.author-photo { text-align: left; padding-bottom: 14px; }
	
	.standard-form textarea { width: 392px; }

	.da-slide .da-img iframe { margin-top: 0; }
	
	#slider-animated #slide-1 { background-position: 0 center; }
	#slide-1 .inner { padding-left: 40px; }
	
	#slide-2 .inner { padding-top: 205px; }
	#slide-2 .image1 { left: 230px; top: 45px; }
	#slide-2 .image2 { right: 230px; top: 45px; }
	
	#slide-3 .inner { padding: 40px 30px 0; width: auto; }
	
}

@media (min-width: 768px) and (max-width: 979px) {
	
	#navigation nav > ul > li > a {	padding: 0 25px; }
	#navigation nav > ul > li:hover > a { padding-left: 26px; margin-left: -1px; }
	#navigation nav > ul > li:first-child:hover > a { padding-left: 25px; }

	.carousel { margin-left: -20px; }
	
	.widget_clients li { width: 240px; }
	
	.da-slide .da-img iframe { margin-top: 46px; }
	
	#slide-3 .inner { width: 370px; padding: 50px 434px 0 30px; }
	#slide-3 li { width: 160px; }
	
	#slide-2 .image1 { left: 400px; }
	#slide-2 .image2 { right: 400px; }
	
	#slide-3 .image1 { right: 30px; }
	#slide-3 .image2 { right: 190px; }

}

@media (max-width: 979px) {
	#slider-animated { background: none; }
}

@media (min-width: 980px) {
	.carousel { margin-left: -28px; }	
}

@media (max-width: 479px) {
	
	.container, .carousel > .wrapper > ul > li { width: 260px; }
	.hidden-mobile { display: none !important; }
	
	.da-slider { height: 190px; }
	.da-slide { width: 260px; margin-left: -130px; }
	.da-img { display: none; }
	.da-arrows { display: none; }
	#slider-parallax .da-slide h1 { margin-top: 30px; width: auto; }
	
	.widget_clients li { width: 258px !important; }
	
	.standard-form textarea { width: 232px; }
	
	#slider-animated { height: 414px; }
	#slider-animated .slides > li { height: 370px; }
	
	#slide-1 h1, #slide-2 h1, #slide-3 h1 { line-height: 34px; font-size: 30px; }
	
	#slide-1 .inner { padding: 20px; width: auto; }
	
	#slide-2 .inner { padding: 80px 20px 0; }
	#slide-2 .more { width: 150px; }
	
}
audio, iframe{width:100%;}
.widget iframe{height:130px;}
.header_icon{width:30px; height:30px; }
.header_icon a{width:30px; height:30px;float:left;background:url('../img/header_social.png') no-repeat;}
.header_icon .h_twitter{background-position:0px 0 }
.header_icon .h_rss{background-position:-34px 0  }
.header_icon .h_linkedin{background-position:-68px 0  }
.header_icon .h_dribbble{background-position:-102px 0  }
.header_icon .h_vimeo{background-position:-136px 0 }
.header_icon:hover .h_twitter{background-position:0px -29px }
.header_icon:hover .h_rss{background-position:-34px  -29px }
.header_icon:hover .h_linkedin{background-position:-68px  -29px }
.header_icon:hover .h_dribbble{background-position:-102px  -29px }
.header_icon:hover .h_vimeo{background-position:-136px  -29px }



#respond p.comment-form-author, #respond p.comment-form-email, p.comment-form-url{
	padding: 0;
	margin: 0;
	border: 0;
	height:80px;
}
#respond p input{
	padding: 9px 13px 11px;
	margin-bottom: 26px;
}
#respond .required{display:none;}
#respond textarea{width:500px;}
#respond #submit{padding: 4px 14px 6px;
	text-align: center;
	border: #b3b3b3 1px solid;
	font-weight: bold;
	text-decoration: none;
	text-shadow: #fff 0 1px 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	transition: all 0.15s linear;
}
#respond #submit:hover{
	text-decoration: none;
	text-shadow: #025ad4 0 1px 0;

	
	
}
.googlemap{height: 100% !important;
position: relative;
float: left;}
#slider-parallax .ls-container{
	background-image: url(../img/slider-shadow.png) !important;
	background-position: top center !important;
	background-repeat: no-repeat !important;
}
#slider-parallax .ls-defaultskin .ls-nav-prev{
	left:0 !important;
}
#slider-parallax .ls-defaultskin .ls-nav-next{
	right:0 !important;
}


.nav-tabs > li > a {
	border-color: #d1d0d0;
	background: #fbfafa;
}
.nav-tabs > li.active > a {
	background: #fbfafa;
	border-color: #d1d0d0;
	border-bottom-color: #fbfafa;
}
.nav-tabs > li > a:hover, .nav-tabs > li.active > a:hover { background: #fbfafa; border-color: #d1d0d0; }
.nav-tabs > li.active > a:hover { border-bottom-color: #fbfafa; }
.tab-content {
	background: #fbfafa;
	border: #d1d0d0 1px solid;
}

#navigation nav > ul {
	border: #313232 1px solid;
}

#navigation nav > ul > li > a {border-right: #2d3032 1px solid;}
#navigation ul ul li {border: #2f3030 2px solid; border-top:none;}
#navigation ul ul li:first-child {border-top: #2f3030 2px solid;}

#slider-parallax {color: #e8e6e6; height:473px !important;}
#slider-parallax .ls-inner{margin:0 auto !important; width:940px !important; top:20px;}
#slider-parallax .ls-layer{width:940px !important;height:420px !important;}
#slider-parallax .ls-container{width:100% !important; height:446px !important;}
#slider-parallax {width:100%; }
#slider-parallax .ls-defaultskin{background:#393838;}
#page-head > .inner { border-bottom: #f8fbf5 1px solid;}
#social-profiles ul {
	border-left: #fff 1px solid;
}
#social-profiles li {
	border-right: #fff 1px solid;
}
#social-profiles a {color: #999;}
.personal-contact{
	color: #999;
}
.personal-contact a { color: #999; }

.bar-container {
	background: #f4f3f3;
	border: #e0e0e0 1px solid;
}
#not-found #content {
	font-size: 25px;
	color: #444;
}


#blog .meta {color: #999;}
.link { color: #666; }

#comments dt li a { color: #999; }

#comments .author a { color: #444;}


#portfolio-filter a { color: #666;}
#portfolio-filter a:hover, #portfolio-filter a.active { color: #009cff; }

#portfolio-title h1 {color: #444;}

#footer .widget-title {
	border-bottom: #fff 1px solid;
	color: #fff;
}

.sidebar .widget_recent_content dd a {color: #999; }

.blog_posts footer li {color: #999;}
.blog_posts footer li a { color: #999; }

.widget_archive a { color: #999;}
#footer { background: url("../img/footer-bg.jpg") 0 0 repeat; }
#slider-animated .ls-defaultskin .ls-nav-prev{
	background:url('../img/carousel-control.png') no-repeat;
	width: 35px;
	height: 21px;
	top: 435px;
	left: 80px;
	-webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    transition-duration: 0.2s;

}
#slider-animated .ls-defaultskin .ls-nav-prev:hover{background-position: 0px -21px;}
#slider-animated .ls-defaultskin .ls-nav-next:hover{background-position: -35px -21px;}
#slider-animated .ls-bottom-slidebuttons a{background:url('../img/slider-item-control.png') no-repeat; width: 20px;height: 15px;}
#slider-animated .ls-bottom-slidebuttons a.ls-nav-active{background:url('../img/slider-item-control.png') 0 -15px no-repeat;}
#slider-animated .ls-nav-start{display:none;}
#slider-animated .ls-nav-stop{display:none;}
#slider-animated .ls-defaultskin .ls-nav-next{
	background:url('../img/carousel-control.png') -35px 0 no-repeat;
	width: 35px;
	height: 21px;
	top: 435px;
	left: 115px;
	-webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
#slider-animated .ls-bottom-nav-wrapper{text-align: left !important;}
#slider-animated .ls-bottom-nav-wrapper .ls-bottom-slidebuttons{margin-left:21px;}
#slider-parallax .ls-nav-prev{background: url("../img/direct-control.png") 0 0 no-repeat; width: 35px;
	height: 59px;-webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    transition-duration: 0.2s;}
#slider-parallax .ls-nav-next{background: url("../img/direct-control.png") 0 0 no-repeat; background-position: -35px 0;width: 35px;
	height: 59px;-webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    transition-duration: 0.2s;}
#slider-parallax .ls-nav-prev:hover{background: url("../img/direct-control.png") 0 0 no-repeat; background-position: 0 -59px; width: 35px;
	height: 59px;}
#slider-parallax .ls-nav-next:hover{background: url("../img/direct-control.png") 0 0 no-repeat; background-position: -35px -59px; width: 35px;
	height: 59px;}
#slider-parallax .ls-bottom-nav-wrapper{display:none;}
#comments .children dl:first-child{border-top:1px solid #E1E1E1; padding-top: 28px;}
#slider-parallax iframe{width:420px;}
.mejs-container{width:100% !important;}
.row-google-map img.shadow{width: 100%;
position: relative;
bottom: 0;
float: left;}
.row-google-map{
	position: relative;
height: 240px;
margin-bottom: 60px;

}
#skills ul {float:left;}
#skills{float:left;}
.pricing-table h2{border-bottom:none;}
.wp-caption { }
.wp-caption-text { }
.sticky { }
.gallery-caption { }
.bypostauthor { }
.alignright { }
.alignleft { }
.aligncenter { }